Repository Skopio-app/skopio-vscode: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: Prettier Formatter
  entry: npx prettier --write
  language: node

eslint:
  name: ESLint
  entry: npx eslint .
  language: node

chore: change timestack instances to skopio
  CHANGELOG.md
  README.md
  package.json
  src/config.ts
  src/extension.ts
Due: prettier, eslint

fix: modify sync logic to use update CLI arguments
  src/activityLogger.ts
  src/cli.ts
  src/config.ts
  src/eventListener.ts
  src/extension.ts
  src/syncManager.ts
Due: prettier, eslint

chore: remove redundant language parameter
  package.json
  src/activityLogger.ts
  src/config.ts
Due: prettier, eslint

fix: add global skopio tracker class to manage extension lifecycle
  src/activityLogger.ts
  src/eventListener.ts
  src/extension.ts
  src/skopio.ts
Due: prettier, eslint

feat: add extra listeners to track file activity
  src/extension.ts
  src/skopio.ts
  src/sync.ts
Due: prettier, eslint

feat: add notebook listeners
  src/skopio.ts
Due: prettier, eslint

fix: automatically flush tracked events on app exit
  src/extension.ts
  src/skopio.ts
Due: prettier, eslint

chore: add todos
  CHANGELOG.md
  src/logger.ts
  src/skopio.ts
Due: prettier, eslint

refactor: modify code to pass directory where cli db will be stored
  src/cli.ts
  src/config.ts
Due: prettier, eslint

feat: add code to automatically download, update and uninstall helper cli
  .gitignore
  .yarnrc.yml
  package.json
  src/cli.ts
  src/config.ts
  src/extension.ts
  src/manager.ts
  yarn.lock
Due: prettier, eslint

chore: rename functions
  src/extension.ts
  src/logger.ts
  src/manager.ts
  src/skopio.ts
Due: prettier, eslint

docs: add a changelog for the vscode extension
  CHANGELOG.md
  package.json
  src/cli.ts
  src/dependency.ts
Due: prettier, eslint

docs: modify README and add LICENSE
  LICENSE
  README.md
  images/skopio.png
  package.json
Due: prettier

chore: prepare extension for release
  .gitignore
  .vscodeignore
  package.json
Due: prettier

docs: update extension details
  CHANGELOG.md
  package.json
  vsc-extension-quickstart.md
Due: prettier

feat: add new source when saving events and heartbeats
  src/config.ts
  src/skopio.ts
Due: prettier, eslint

docs: update CHANGELOG to reflect addition of new source flag
  CHANGELOG.md
Due: prettier

chore: update extension version
  package.json
Due: prettier

feat: add new source flag for saving events and heartbeats source (#6)
  CHANGELOG.md
  package.json
  src/config.ts
  src/skopio.ts
Due: prettier, eslint

chore: change extension icon
  images/skopio.png
Due: none

chore: change extension icon (#7)
  images/skopio.png
Due: none

fix: enable check update functionality
  src/cli.ts
Due: prettier, eslint

fix: prevent duplicate event syncing
  package.json
  src/cli.ts
  src/config.ts
  src/dependency.ts
  src/extension.ts
  src/skopio.ts
  src/sync.ts
Due: prettier, eslint

fix: remove event overlap
  src/skopio.ts
Due: prettier, eslint

fix: properly set category to writing docs when editing markdown or plaintext flies
  src/skopio.ts
Due: prettier, eslint

docs: update changelog to reflect new app version
  CHANGELOG.md
  package.json
Due: prettier

docs: add more permissive license
  LICENSE
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.tsx$, \.(ts|mts|cts)$, \.css$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.(html|htm|xhtml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.tsx$, \.(ts|mts|cts)$
